.movie-card {
  background: black;
  box-shadow: 7px 4px 4px #1c2328;
  overflow: hidden;
}

.movie-card:hover {
  cursor: pointer;
  opacity: 0.5;
}

.movie-image {
  animation-name: fade;
  animation-duration: 8s;
  height: 100%;
  width: 100%;
}

.movie-title {
  background: #e71d36;
  border-bottom: 1px solid #ff9f1c;
  color: #ffffff;
  font-size: 24px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*.favorite-button {
  background: white;
  opacity: 0.7;
  border: 2px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.favorite-button:hover {
  cursor: pointer;
}*/
