.wrapper {
  background: #FDFFFC;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1em;
  grid-auto-rows: minmax(300px, auto);
}

.movie-card {
  background: #2EC4B6;
  color: #fff;
  font-size: 40px;
}
