* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  background: #FDFFFC;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: minmax(300px, auto);
  width: 100%;
}

.movie-card {
  background: #2EC4B6;
  border: 1px solid white;
  color: #fff;
  font-size: 40px;
}

.movie-tracker-header {
  background: #E71D36;
  color: #FDFFFC;
  text-shadow: 2px 0 3px #FF0000, 2px 0 5px #0000FF;
  font-size: 50px;
  font-family: 'Cantarell', sans-serif;
  text-align: left;
  padding: 5px;
  height: 150px;
  width: 100%;
}
